@model string
<span>
    @foreach (var tag in (Model??"").Split(new[]{","}, StringSplitOptions.RemoveEmptyEntries))
    {
      @Html.ActionLink(tag, "Index", "Tagged", new { tag }, new { title = "Posts tagged " + tag, @class = @Html.CssKeywordsForTag(tag) })
    }
</span>